###
#
# Slurm cgroup support configuration file
#
# See man slurm.conf and man cgroup.conf for further
# information on cgroup configuration parameters
#--
# Templated by ansible, don't edit manually.
#
CgroupAutomount={{ slurm_cgroup_automount }}
CgroupReleaseAgentDir={{ slurm_cgroup_release_agent_dir }}

ConstrainCores={{ slurm_cgroup_constrain_cores }}
TaskAffinity={{ slurm_cgroup_taskaffinity }}
ConstrainRAMSpace={{ slurm_cgroup_constrain_ram }}
ConstrainSwapSpace={{ slurm_cgroup_constrain_ram }}
AllowedRAMSpace={{ slurm_cgroup_allowedramspace }}
MinRAMSpace={{ slurm_cgroup_min_ram }}
AllowedSwapSpace={{ slurm_cgroup_allowedswapspace }}
ConstrainDevices={{ slurm_cgroup_constrain_devices }}

