# Managed by ansible
{% if slurm_log_dir is defined %}
{{ slurm_log_dir }}/slurmdbd.log {
	{{ slurm_logrotate_rotate_interval }}
	missingok
	notifempty
	sharedscripts
	rotate {{ slurm_logrotate_rotate }}
	compress
	create 644 slurm slurm
	postrotate
		/bin/kill {{ slurm_logrotate_signal }} $([[ -r {{ slurm_SlurmdbdPidFile }} ]] && cat {{ slurm_SlurmdbdPidFile }}) 2>/dev/null 2> /dev/null || true
	endscript
}
{{ slurm_log_dir }}/slurm.log {
	{{ slurm_logrotate_rotate_interval }}
	missingok
	notifempty
	sharedscripts
	rotate {{ slurm_logrotate_rotate }}
	copytruncate
	compress
	create 644 slurm slurm
	postrotate
		/bin/kill {{ slurm_logrotate_signal }} $([[ -r {{ slurm_SlurmctldPidFile }} ]] && cat {{ slurm_SlurmctldPidFile }}) 2>/dev/null 2> /dev/null || true
		/bin/kill {{ slurm_logrotate_signal }} $(cat /var/run/syslogd.pid) 2> /dev/null 2> /dev/null || true
	endscript
}
{{ slurm_log_dir }}/slurm_jobcomp.log {
	{{ slurm_logrotate_rotate_interval }}
	missingok
	notifempty
	sharedscripts
	rotate {{ slurm_logrotate_rotate }}
	copytruncate
	compress
	create 644 slurm slurm
	postrotate
		/bin/kill {{ slurm_logrotate_signal }} $([[ -r {{ slurm_SlurmctldPidFile }} ]] && cat {{ slurm_SlurmctldPidFile }}) 2>/dev/null 2> /dev/null || true
	endscript
}
{% endif %}
